<link href="/client/Users/admin/main_admin_css.css" type="text/css" rel="stylesheet">
<div id="topBar">
</div>
<div style="display:'table'" id="menu">    
    <div id="display">
        <div id="inner">
            <div class="option" ng-click="changeState('user.users', 'users')">
                
                <div class="content">
                    <div class="icon">
                        <i class="icon-users" data-icon="g"></i>
                    </div>
                    <div class="optionName">
                        Users
                    </div>
                </div>
            </div>
            <div class="option" ng-click="changeState('user.programs.list', 'programs')">
                <div class="content">
                    <div class="icon">
                        <i class="icon-course"></i>
                    </div>
                    <div class="optionName">
                        Programs
                    </div>
                </div>
            </div>
            <div class="option" ng-click="changeState('user.courses.list','acourses')">
                <div class="content">
                    <div class="icon">
                        <i class="icon-class"></i>
                    </div>
                    <div class="optionName">
                        Courses
                    </div>
                </div>
            </div>
            <div class="option" ng-click="changeState('user.bookedRooms','bookedRooms')">
                <div class="content">
                    <div class="icon">
                        <i class="icon-classroom"></i>
                    </div>
                    <div class="optionName">
                        Booked Rooms
                    </div>
                </div>
            </div>
            <div class="option" ng-click="changeState('user.aexams','aexams')">
                <div class="content">
                    <div class="icon">
                        <i class="icon-exam"></i>
                    </div>
                    <div class="optionName">
                        Exams
                    </div>
                </div>
            </div>
            <div class="option" ng-click="changeState('user.students', 'students')">
                <div class="content">
                    <div class="icon">
                        <i class="icon-students"></i>
                    </div>
                    <div class="optionName">
                        Students
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
