#menu{
    display: block;
    overflow: hidden;
}
#menu>form{
    display: block;
    width: 70%;
    max-width: 700px;
    min-width: 550px;
    height: 90%;
    min-height: 600px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    
    
}
form #left{
    height: 30%;
    width: 30%;
    position: relative;
    float: left;
    vertical-align: middle;
}
form #left img{
    margin: 0 auto;
    display: block;
    border-radius: 100%;
    width: 150px !important;
    height: 150px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    object-fit:cover;
}
form #right{
    height: 30%;
    width: 70%;
    position: relative;
    float: right;
    text-align: left;
   
}
form #right #left{
    width: 50%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px;
}
form #right #right{
    width: -webkit-calc(50% - 20px);
    width: calc(50% - 20px);
    height: auto;
    top: 50%;
    transform: translateY(-50%);
}

form #right span{
    display: block;
    text-align: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
form #right input{
    width: 100%;
    border: 0;
    text-align: left;
    background-color: rgba(92,102,108,0.3);
    font-size: 20px;
    padding: 5px;
    
}
form #footer1{
    max-height: 60%;
    width: 100%;
    position: relative;
    clear: both;
    overflow-y: auto;

}
form #footer1 span{
    display: block;
    text-align: left;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
}
form #footer1 select{
    background-color: rgba(92,102,108,0.3);
    border: 0;
    font-size: 20px;
    width: 100%;
}
form #footer1 #courseOption{
    
    max-height:calc(100% - 200px);
    margin-top: 20px;
}


form #courseOption span{
    width: 33%;
    position: relative;
    float: left;
    font-size: 15px; 
    line-height: 15px;
    margin:0 auto;
    margin-top:5px;
    margin-bottom:5px;
}
#courseOption span:nth-child(1){
    width: 60%;
}
#courseOption span:nth-child(2){
    width: calc(20% - 10px);
}
#courseOption span:nth-child(3){
    width: calc(20% - 10px);
}
.courseContent span:nth-child(2){
    padding-left: 10px;
}
.courseContent span:nth-child(3){
    padding-left: 10px;
}
form #courseOption .courseContent{
    position: relative;
    max-height: calc(100% - 500px);
    overflow-y: auto;
    
}

form #courseOption #header{
    display: block;
    width: 100%;
    height: 30px;
    border-bottom: 10px solid rgba(92,102,108,1);
    background-color: transparent;
}
form #courseOption .courseContent #plan .courseRow{
    padding-left: 10px;
    overflow: hidden;
    height: auto;
    text-align:center;
}

.courseContent #plan .courseRow:nth-child(odd){
    background-color: whitesmoke;
}

form #footer2{
    margin-top: 20px;
}
form #footer2 button{
    background-color: rgba(92,102,108,0.3);
    border-radius: 0;
    width: 150px;
    text-align: center;
    margin-left: 10px;
    height: 50px;
}
form #footer2 button:hover{
    background-color: rgba(92,102,108,0.7);
}
form>#left>#imgClass{
    background-color: aqua;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}
#imgClass #overlay{
    background-color: rgba(96,198,208,0.5);
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 0;
    position: absolute;
    margin: 0 auto;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 100px;
}
#imgClass:hover #overlay{
   opacity: 1; 
}
#menuDark{
    width: 100%;
    height: -webkit-calc(100% - 55px);
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    right: 0;
    transition-timing-function: ease-in-out;
    transition: 3s;
    display: none;
}
#menuDark #sucess{
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: auto;
}

#menuDark #sucess #topbar{
    background-color: rgba(92,102,108,0.7);
    text-align: right;
    font-size: 15px;
    height: 40px;
}
#menuDark #sucess #topbar #cross{
    position: relative;
    float: right;
    margin-right: 10px;
    margin-top: 12.5px;
    color: white;
}
#menuDark #sucess #cross{
    cursor:pointer;
}
#menuDark #sucess #popupcontent{
    height: calc(100% - 105px);
    width: calc(100% - 60px);
    margin: 30px;
    overflow-y: auto;
}
#menuDark #sucess #popupcontent>span{
    display: block;
    width: 100%;
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}
#menuDark #sucess #popupcontent>p{
    text-align: center;
    font-size: 17px;
}
#menuDark #sucess #popupcontent>i{
    display: block;
    margin: 0 auto;
    width: 100;
    text-align: center;
    font-size: 100px;
}
.tableTab{
    border-left: 10px solid rgba(96,198,208,1);
    background-color: rgba(92,102,108,0.7) !important;
}
.credits{
    background-color: rgba(92,102,108,0.3) !important;
}
.credits>span:nth-child(2){
    text-align: right !important;
    margin-top: 10px !important;
}
.credits>span:nth-child(3){
    margin-top: 10px !important;
}
.courseContent>#warning{
    display: block;
    color: rgba(92,102,108,1);
    margin-top: 20px;
}
.courseContent>#warning>i{
    font-size: 100px;
    width: 60%;
    color: rgba(92,102,108,1);
    margin: 0 auto;
    display: block;
    animation: alert 5s infinite;
}
.courseContent>#warning>span{
    font-size: 17px;
    color: rgba(92,102,108,1);
    display: block;
    font-weight: bold;
    width: 100%;
    padding: 0;
    text-align: center;
}